body {


margin: 0px;
}

.news {
 border: 1px solid red;
 padding: 20px 0px;
}

.news-container {
border: 5px solid green;
width: 1200px;
margin: 0px auto;
display: flex;
justify-content:space-between;
flex-direction: row;
}

.news-item {
border: 1px solid black;
display: inline-block;
width: 385px;
/* height: 150px; */
background: blue;
color: white;
/* margin: 0px 20px; */
padding: 15px;
box-sizing: border-box;
}

img {
    width:100%;

}