body {

margin: 0px;
}

.news {
 padding: 20px 0px;
}

.news-container {
width: 1200px;
margin: 0px auto;
display: flex;
padding: 2px;
justify-content:space-between;

}

.news-item {
border-radius: 1px solid green;
width: 360px;
display: inline-block;
padding: 2px;
border-radius: 9px;
box-shadow: gray 0px 0px 7px;
box-sizing: border-box;
}
img {
    width: 10px;
    border-radius: 15px;
}