body{}

.teachers-button button{
background: #6255A4;
color: #fff;
font-weight: bold;
width: 250px;
height: 40px;
border: 0px;
padding: 0px;
border-radius: 5px
}

.teacher-container{
border-radius: 5px;
width: 252px;
height: 119px;

}
.teacher-container Learn{
    color: #6255A4;
}

.teacher-item{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    margin: 315px 216px;
}

.teacher-img{
    border-radius: 3px;
    width: fit-content;
    margin: -502px 381px;
}

.teacher-text{
width: fit-content;
margin: -47px 0px;
}